body {
    margin: 150px;
    font-family: sans-serif;
    background-color: #d7f442
}
.resName{
  font-size: 25px;
  color: #ffffff;
  font-family: Georgia;

}
h1{font-style: italic;
  color:#bdbfa4;}

h2,
h3,
h4,.menuoption{
    color: #ffffff;
}

h1,
h2 {
    font-family: 'georgia', serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

p,
dd,
dt {
    color: #cccccc;
}

a {
    text-decoration: none;
    color: #ffffcc;
    font-size: .75em;
}

.pane {

    border: 2px solid;
    border-radius: 25px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 250px;
    margin-right: 250px;
    border-color: #999999;
    background-color: #333333

}

.header {
    left: 50%;
    text-align: center;

}

.name {
    width: 50%;
    display: inline-block;
    float: left;
    color :#ffffff;
}

.description {
  color:#ffffff;
  width: 50%;

}

.course{color:#d7f442;
font-size: 20px;}

.price {
    text-align: right;
    width: 50%;
    float: right;
    color: #ffffff;

}

.editdeletepane { height: 200px}

.flash {
    background: #cee5f5;
}
.submitBtn{
  width: 60px;
}
